<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        こんにちは、 
        <%= link_to "#{current_user.nickname}さん", user_path(current_user), class: :greeting__link%>
      </div>
    <% end %>
  <%= form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "レシピ・材料を検索する", class: "search-input" %>
    <%= form.submit "検索", class: "search-btn" %>
  <% end %>  
    <div class="card__wrapper">
      <%= render partial: 'tweet', collection: @tweets %>
    </div>
  </div>
</main>